*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;

}


#setting img{
    width: 30px;
}
#setting{
    position: absolute;
    top: 2%;
    right: 1%;
}

#setting img:hover{
    transform: scale(1.2);
}
#setting:hover{
    cursor: pointer;
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.65),rgba(0, 0, 0, 0.623)),url("./img/b4.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
}
.inner{
    width: 500px;
    height: 400px;
    background-color: rgba(5, 5, 5, 0.37);
position: relative;
padding: 24px;
box-shadow: 1px 4px 17px #2b2b2b, inset 1px 2px 102px #131313;


}
._3div{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.header{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 20%;
}

.heading:hover,.btn:hover{
    cursor: pointer;
}
.heading:hover{
    transform: scale(1.1);
}
.heading{
    position: relative;
    margin: auto 10px;
    color: white;
    font-size: 39px;
    padding: 8px 10px;
    -webkit-transition: 0.8s;
    transition: 0.8s;
 
    border-bottom: 1px solid #ffffff30;
}
.bgnone{
    background: none !important;
}
.body{
    position: relative;
    width: 100%;
    height: 80%;
}
.timer{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 0px;
    top: 0%;

    left: 0;
    background-color: rgba(0, 0, 0, 0.404);
    transition: 0.8s;
z-index: -1;
}
.btn:hover::after{
    height: 100%;

}

.btn{
    position: relative;
    width: auto;
    height: auto;
    font-size: 36px;
    padding: 10px 20px;
    margin: auto;
    display: block;
    border: none;
    outline: none;
    background: #00000011;
z-index: 2;
    color: white;
    
}
.min,.sec,.colon{
font-size: 150px;
color: white;

}
::selection { background: transparent; }
::-moz-selection { background: transparent; }
// **************************************************
// setting box
.setting_box,.inner{
transition: 0.7s;

}
.inner:hover{
transform: scale(1.1);
}

.setting_box:hover{

    background: rgba(0, 0, 0, 0.651);
}
.setting_box{
position: absolute;
z-index: 23;
background: rgba(0, 0, 0, 0.555);
top: -500%;
transition: 0.6s;
left: 50%;
transform: translate(-50%,-50%);
width: 400px;
height: 300px;
display: flex;
justify-content: center;
align-items: center;
padding: 10px 5px;
flex-direction: column;
}

.setting_heading h1{
    font-size: 27px;
    color: white;

}
.setting_heading{
width: 100%;
height: 20%;
font-size: 27px;
display: flex;
justify-content: center;
align-items: center;
border-bottom: 1px solid #ececec29;
}
.setting_time_head{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.setting_time{
    width: 100px;
    height: auto;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.11);
    color: white;
    border: none;
    outline: none;
    margin: 0px 10px;
    padding: 5px;
}
#settingbtn:hover{
    cursor: pointer;
}

.setting_btn_parent_div
{
    height: 20%;
    width: 100%;
}

#settingbtn{
 
 position: relative;
    width: auto;
    // height: 20%;
    // font-size: 36px;
    // padding: 10px 20px;
    height: auto;
    margin: auto;
    display: block;
    border: none;
    outline: none;
    background: #00000045;

    color: white;
    height: auto;
    font-size: 36px;
    padding: 4px 20px;
}


.setting_time_div{
    position: relative;
}

#std1::after{

    content: "Pomodoro";
}
#std2::after{

    content: "Short Break";
}
#std3::after{

    content: "Long Break";
}

.setting_time_div::after{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: -100%;
    left: 0%;
    color: white;
font-size: 16px;
display: flex;
justify-content: center;
align-items: center;
}


.setting_time::placeholder{
    color: white ;
}
.settingparent{
    position: relative;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.65),rgba(0, 0, 0, 0.623)),url("./img/b4.jpg");
    height: 100%;
    z-index: 2343;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
}


.dnone{
    display: none;
}
// setting box ending




.Breaks{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    z-index: -32423432434234;
    background: linear-gradient(rgba(0, 0, 0, 0.808),rgba(0, 0, 0, 0.829)),url("./img/b4.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
position: absolute;
top: 0;
left: 0;
transition: 2s;
opacity: 0;

}
.breaks_inside:hover{
    transform: scale(1.07);
}
.breaks_inside{
    width: 500px;
    height: 400px;
padding: 28px;
transition: 1s;
box-shadow: 1px 1px 6px #000000, inset 1px 0px 40px #ffffff17;
background: #00000036;
}
#close:hover{
    cursor: pointer;
    transform: scale(1.1);
}
#reload_page:hover{
    cursor: pointer;
    transform: scale(1.1);
}
#reload_page{
    position: absolute;
    left: 1%;
    top: 2%;
    font-size: 20px;
    color: white;
}

#close{
    font-size: 25px;
    color: white;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 2;
}

.breaks_heading{
    width: 100%;
    height: 20%;
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.breaks_heading h1{

    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-bottom: 1px solid white;
}
.value{
    width: 100%;
    height: 60%;
    font-size: 129px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.breaks_buttons{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.breaks_i_tag{
    color: white;
    font-size: 43px;
    width: auto;
    height: auto;
    padding: 7px 33px;
    background: #00000000;
    width: auto;
    margin: 0px 16px;
    -webkit-box-shadow: 1px 2px 14px #000000, inset 1px 0px 18px #ffffff;
    box-shadow: 1px 2px 14px #000000, inset 1px 0px 18px #171717;
    border-radius: 10px;
    -webkit-transition: 0.7s;
    transition: 0.7s;

    &:hover{
transform: scale(1.1);
        cursor: pointer;
    }
}



// ............................... 
       // reponsive code starting here 
// ............................... 

html,body{
    min-width: 100vw !important;
    min-height: 100vh !important;
    overflow: hidden !important;
}
// body{
//     padding: 40px;
// }

@media only screen and (max-width:670px)
{
    .inner{
        height: 390px;
        width: 441px;
    }
    .min, .sec, .colon {
        font-size: 130px;
        color: white;
    }
    .btn{
        font-size: 34px;
    }
    .breaks_inside{
        width: 90%;
    }
    .value{
        font-size: 100px;
    }
    .breaks_heading h1{
        font-size: 30px;
    }
    .heading{
        font-size: 34px ;
    }
   #reload_page {
       left: 3%;
    }
}
#reload_page {
    top: 3%;
}
@media only screen and (max-width:480px)
{
    .inner{
        height: 390px;
        width: 350px;
    }
    .min, .sec, .colon {
        font-size: 110px;
        color: white;
    }
    .btn{
        font-size: 31px;
    }
    .setting_heading
    {
        height: 10% !important;
    }
    .setting_time_head{
        height: 80% !important;

    }
    .heading{
        font-size: 30px;
    }
}
@media only screen and (max-width:370px)
{
    .inner{
        height: 390px;
        width: 300px;
    }
    .min, .sec, .colon {
        font-size: 100px;
        color: white;
        
    }
    .btn{
        font-size: 31px;
    }
    .setting_box{
        width: 90% !important;

        height: 80% !important;
}

.breaks_inside{
    width: 90%;
    height: 80%;
}
.value{
    font-size: 90px;
}
.breaks_buttons{
    flex-wrap: wrap;
}
.breaks_i_tag {
    
    margin: 10px !important;
}

}
.value{
    text-align: center;
}

.breaks_i_tag {
    
font-size: 20px;
}
@media only screen and (max-width:320px)
{
    .inner{
        height: 300px;
        width: 250px;
    }
    .min, .sec, .colon {
        font-size: 90px;
        color: white;
        
    }
    .btn{
        font-size: 28px;
    }
    .heading{
        font-size: 29px;
    }
}



@media only screen and (max-width:290px)
{
    .inner{
        height: 270px;
        width: 200px;
    }
    .min, .sec, .colon {
        font-size: 60px;
        color: white;
        
    }
    .btn{
        font-size: 25px;
    }
    .heading{
        font-size: 21px;
    }
}
.setting_time_head{
    flex-wrap: wrap;
}
@media only screen and (max-width:500px)
{
    .setting_box{
              width: 80%;

              height: 70%;
    }
}