*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;

}
html,body{
overflow-x: hidden;
max-width: 100%;
height: 100%;
}

#setting img{
    width: 30px;
}
#setting{
    position: absolute;
    top: 2%;
    right: 1%;
}

#setting img:hover{
    transform: scale(1.2);
}
#setting:hover{
    cursor: pointer;
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(#ff4400, #983300);
    position: absolute;
    top: 0;
    left: 0;
}
.inner{
    width: 500px;
    height: 400px;
    background-color: rgba(56, 32, 32, 0.192);
position: relative;
padding: 24px;
box-shadow: 1px 4px 17px black, inset 1px 2px 102px #2f0d0d;


}
._3div{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.header{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 20%;
}

.heading:hover,.btn:hover{
    cursor: pointer;
}
.heading:hover{
    transform: scale(1.1);
}
.heading{
    position: relative;
    margin: auto 10px;
    color: white;
    font-size: 39px;
    padding: 8px 10px;
    -webkit-transition: 0.8s;
    transition: 0.8s;
 
    border-bottom: 1px solid #ffffff30;
}
.bgnone{
    background: none !important;
}
.body{
    position: relative;
    width: 100%;
    height: 80%;
}
.timer{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 0px;
    top: 0%;

    left: 0;
    background-color: rgba(0, 0, 0, 0.151);
    transition: 0.8s;
z-index: -1;
}
.btn:hover::after{
    height: 100%;

}

.btn{
    position: relative;
    width: 49%;
    height: 20%;
    font-size: 36px;
    padding: 10px 20px;
    margin: auto;
    display: block;
    border: none;
    outline: none;
    background: #00000011;
z-index: 2;
    color: white;
    
}
.min,.sec,.colon{
font-size: 150px;
color: white;

}
::selection { background: transparent; }
::-moz-selection { background: transparent; }
// **************************************************
// setting box
.setting_box{
position: absolute;
z-index: 23;
background: radial-gradient(#331e1e, #001d1f);
top: -500%;
transition: 0.6s;
left: 50%;
transform: translate(-50%,-50%);
width: 400px;
height: 300px;
display: flex;
justify-content: center;
align-items: center;
padding: 10px 5px;
flex-direction: column;
}

.setting_heading h1{
    font-size: 27px;
    color: white;

}
.setting_heading{
width: 100%;
height: 20%;
font-size: 27px;
display: flex;
justify-content: center;
align-items: center;
border-bottom: 1px solid #ececec29;
}
.setting_time_head{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.setting_time{
    width: 100px;
    height: auto;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.11);
    color: white;
    border: none;
    outline: none;
    margin: 0px 10px;
    padding: 5px;
}
#settingbtn:hover{
    cursor: pointer;
}
#settingbtn{
 
 position: relative;
    width: 36%;
    // height: 20%;
    // font-size: 36px;
    // padding: 10px 20px;
    margin: auto;
    display: block;
    border: none;
    outline: none;
    background: #00000045;

    color: white;
    height: auto;
    font-size: 36px;
    padding: 4px 20px;
}


.setting_time_div{
    position: relative;
}

#std1::after{

    content: "Pomodoro";
}
#std2::after{

    content: "Short Break";
}
#std3::after{

    content: "Long Break";
}

.setting_time_div::after{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: -100%;
    left: 0%;
    color: white;
font-size: 16px;
display: flex;
justify-content: center;
align-items: center;
}


.setting_time::placeholder{
    color: white ;
}
.settingparent{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 2343;
    background-color: rgba(0, 0, 0, 0.897);
}


.dnone{
    display: none;
}
// setting box ending




.Breaks{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    z-index: -32423432434234;
    background-color: rgba(0, 0, 0, 0.973);
position: absolute;
top: 0;
left: 0;
transition: 2s;
opacity: 0;

}
.breaks_inside{
    width: 50%;
    height: 400px;
padding: 28px;
transition: 2s;
box-shadow: 1px 2px 30px #131111, inset 1px 0px 40px #0e0c0c;
background: radial-gradient(#ff0028, #000000);
}
#close:hover{
    cursor: pointer;
    transform: scale(1.1);
}
#reload_page:hover{
    cursor: pointer;
    transform: scale(1.1);
}
#reload_page{
    position: absolute;
    left: 1%;
    top: 2%;
    font-size: 20px;
    color: white;
}

#close{
    font-size: 25px;
    color: white;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 2;
}

.breaks_heading{
    width: 100%;
    height: 20%;
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.breaks_heading h1{

    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-bottom: 1px solid white;
}
.value{
    width: 100%;
    height: 60%;
    font-size: 129px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.breaks_buttons{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.breaks_i_tag{
    color: white;
    font-size: 43px;
    width: auto;
    height: auto;
    padding: 7px 33px;
    background: #00000000;
    width: auto;
    margin: 0px 16px;
    -webkit-box-shadow: 1px 2px 14px #000000, inset 1px 0px 18px #ffffff;
    box-shadow: 1px 2px 14px #000000, inset 1px 0px 18px #171717;
    border-radius: 10px;
    -webkit-transition: 0.7s;
    transition: 0.7s;

    &:hover{
transform: scale(1.1);
        cursor: pointer;
    }
}